.link {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;

  display: none;
}

.box {
  position: relative;

  display: flex;
  align-items: center;

  &.withLink {
    cursor: pointer;

    &:hover {
      opacity: .8;
    }

    &:active {
      opacity: .5;
    }

    .link {
      display: block;
    }
  }
}

.image {
  &.black {

  }

  &.white {
    display: none;
  }
}

:global(.shrink) {

}

:global(.night) {
  .image {
    &.black {
      display: none;
    }

    &.white {
      display: block;
    }
  }
}
