.box {
  overflow: hidden;

  width: 258px;
  height: 100vh;
  border-right: 1px solid #F6F6F6;

  transition: all .2s ease;
}

.section {
  padding: 0 50px;
}

.header {
  position: relative;

  display: flex;
  padding-top: 20px;
}

.logo {

}

.shrinkButton {
  position: absolute;
  right: 10px;
  top: 20px;

  width: 26px;
  height: 26px;

  padding: 0;
  border: none;
  background-color: transparent;

  cursor: pointer;
  color: #BDBDBD;;

  transition: all .1s ease;

  &:hover {
    color: #0D062D;
  }
}

.shrinkButtonIcon {
  fill: currentColor;
  transition: all .1s ease;
}

.menu {
  padding-top: 44px;
}

:global(.shrink) {
  width: 130px;

  .shrinkButtonIcon {
    transform: scaleX(-1);
  }
}

:global(.night) {
  .box {
    border-color: #251F40;
  }

  .shrinkButton {
    &:hover {
      color: #FFFFFF;
    }
  }
}

