.button {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;

  font-weight: 500;
  font-size: 14px;
  line-height: 17px;

  background-color: transparent;
  border: none;

  fill: #0D062D;

  transition: all .1s ease;
  cursor: pointer;
}

.icon {
  margin-left: 6px;

  fill: inherit;
}

.field {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.field:checked + .button.asc {
  color: #5030E5;

  .iconAsc {
    fill: #5030E5;
  }
}

.field:checked + .button.desc {
  color: #5030E5;

  .iconDesc {
    fill: #5030E5;
  }
}

:global(.night) {
  .button {
    fill: #FFFFFF;
  }
}