.box {
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  padding: 20px;
  padding-bottom: 0;
  padding-right: 50px;
}

.title {
  margin: 0;

  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}

.actions {
  margin-left: auto;
}

.content {
  &.paddingDefault {
    padding: 20px;
    padding-top: 0;
  }

  &.paddingFluid {
    padding: 48px;
    padding-top: 0;
  }

  &.paddingNone {

  }
}

.top {
  padding: 0 20px;
  margin-bottom: 50px;
}