.box {
  width: 100%;
}

.label {
  display: block;
  margin-bottom: 4px;

  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.011em;
}

.fieldContainer {
  position: relative;

  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 7px;
  padding-right: 9px;

  border: 1px solid #BDBDBD;
  border-radius: 8px;

  transition: all .1s ease;

  &.error {
    margin-bottom: 5px;

    border-color: #ED7470
  }
}

.focus {
  .fieldContainer {
    border-color: #5030E5;
  }
}

.errors {
  .fieldContainer {
    border-color: #ED7470;
  }
}

.field {
  position: relative;

  width: 100%;
  height: 38px;

  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: #0D062D;

  background: transparent;
  border: none;
  outline: none;

  &:focus {
    border-color: #5030E5
  }

  &::placeholder {
    color: #BDBDBD;;
  }

  &[type='date'] {
    letter-spacing: -.05em;

    & + .icon {
      position: absolute;
      right: 10px;
      top: 50%;

      transform: translate(0, -50%);
    }
  }

  &::-webkit-calendar-picker-indicator {
    position: absolute;
    z-index: 30;
    top: 0;
    right: 0;
    bottom: 0;

    width: 20px;
    height: auto;

    color: transparent;
    background: transparent;

    cursor: pointer;
  }

  &:-webkit-autofill {
    -webkit-box-shadow: inset 0 0 0 50px #fff !important;
  }
}

.disabled {
  .fieldContainer {
    background-color: #FAFAFA;
  }
}

.icon {
  flex-shrink: 0;
  margin-left: 2px;
}

.counter {
  position: relative;
  top: -5px;

  margin: 0;

  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
}

.errorText {
  display: block;
  margin-top: 5px;

  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #ED7470;
}

.big {
  .fieldContainer {
    padding: 0 15px;
  }

  .field {
    height: 48px;

    font-size: 14px;
    line-height: 20px;
  }
}

:global(.night) {
  .disabled {
    .fieldContainer {
      background-color: #160E3D;
    }
  }

  .field:-webkit-autofill {
    -webkit-box-shadow: inset 0 0 0 50px #0D062D !important;
    -webkit-text-fill-color: #FFFFFF !important;
    color: #FFFFFF !important;
    caret-color: #FFFFFF !important;
  }
}