@keyframes box-hide-keyframe {
  0% {
    width: 340px;

    opacity: 1;
  }

  100% {
    width: 0;

    opacity: 0;
  }
}

.box {
  overflow: hidden;

  width: 340px;

  background-color: #FFFFFF;
  box-shadow: 0 4px 8px rgba(80, 48, 229, 0.1);
  border-radius: 16px;

  transition: all .1s ease;

  &.hide {
    opacity: 0;
    width: 0;
    transform: scale(0);

    animation: box-hide-keyframe .5s;
  }
}

.header {
  display: flex;
  align-items: center;
  padding: 10px;
  height: 50px;

  &.grey {
    background-color: #F6F5FE;
  }

  &.green {
    color: #FFFFFF;
    stroke: #FFFFFF;

    background-color: #78BD7E;

    .noteButton {
      background-color: rgba(256, 256, 256, .5);
    }
  }

  &.yellow {
    color: #FFFFFF;
    stroke: #FFFFFF;

    background-color: #F8D465;

    .noteButton {
      background-color: rgba(256, 256, 256, .5);
    }
  }

  &.red {
    color: #FFFFFF;
    stroke: #FFFFFF;

    background-color: #ED7470;

    .noteButton {
      background-color: rgba(256, 256, 256, .5);
    }
  }
}

.accountIconContainer {
  overflow: hidden;

  width: 30px;
  height: 30px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 5px;
}

.accountIcon {
  width: 100%;
  height: 100%;

  object-fit: cover;
}

.title {
  margin: 0;

  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.titleLink {
  color: #0D062D;
}

.headerRight {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.date {
  margin: 0;
  margin-right: 10px;

  text-align: right;
  letter-spacing: 0.05em;
  color: #0D062D;
}

.noteButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 34px;
  height: 34px;
  margin-right: 10px;
  padding: 0;

  background-color: rgba(80, 48, 229, .1);
  stroke: #5030E5;
  border-radius: 5px;
  border: none;

  transition: all .1s ease;
  cursor: pointer;

  &.active {
    stroke: #FFFFFF;
    background-color: #5030E5;
  }
}

.header.green,
.header.yellow,
.header.red {
  .noteButton {
    &.active {
      stroke: #FFFFFF;
      background-color: #5030E5;
    }
  }
}


.noteButtonIcon {
  stroke: inherit;
  transition: all .1s ease;
}

.hideButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 34px;
  padding: 0;

  background-color: transparent;
  border: none;

  cursor: pointer;
}

.hideIcon {
  stroke: #BDBDBD;
}

.green .hideIcon,
.yellow .hideIcon {
  stroke: #FFFFFF;
}

.body {
  padding: 10px;
  padding-bottom: 27px;
}

.footer {
  padding: 15px;

  border-top: 1px solid #F6F6F6;

  p {
    margin: 0;
    margin-bottom: 5px;

    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.noteForm {
  display: flex;
  align-items: center;
}

.noteField {
  width: 100%;
  height: 20px;
  padding: 0;
  margin-right: 5px;

  font-style: italic;
  font-size: 12px;
  line-height: 15px;
  color: #0D062D;

  border: none;
  outline: none;
  background: transparent;

  &::placeholder {
    opacity: .5;
  }
}

.noteFormButton {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  width: 20px;

  background: transparent;
  border: none;

  cursor: pointer;
  transition: all .1s ease;

  &:hover {
    opacity: .7;
  }

  &:disabled {
    opacity: .5;

    &:hover {
      cursor: default;
      opacity: .5;
    }
  }
}

.noteFormIcon {

}

:global(.night) {
  .box {
    background-color: #241959;
    box-shadow: 0 4px 8px rgba(80, 48, 229, 0.1);
  }

  .header {
    background-color: #5B539B;

    &.grey {
      background-color: #5B539B;
    }

    &.green {
      color: #FFFFFF;
      stroke: #FFFFFF;

      background-color: #78BD7E;
    }

    &.yellow {
      color: #FFFFFF;
      stroke: #FFFFFF;

      background-color: #F8D465;
    }

    &.red {
      color: #FFFFFF;
      stroke: #FFFFFF;

      background-color: #ED7470;
    }
  }

  .header.green .noteButton,
  .header.yellow .noteButton,
  .noteButton {
    background-color: #5030E5;
    stroke: #FFFFFF;

    &.active {
      stroke: #5030E5;
      background-color: rgba(255, 255, 255, 3);
    }
  }

  .titleLink {
    color: #FFFFFF;
  }

  .date {
    color: #FFFFFF;
  }

  .footer {
    border-color: #5030E5;
  }
}