.box {
  width: 100%;
  padding-top: 30px;
}

.button {
  margin-bottom: 30px;
}

.list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.item {
  display: flex;
  margin-bottom: 20px;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.field {
  width: 350px;

  &.key {
    margin-right: 20px;
  }

  &.value {
  }
}