.box {
  width: 100%;
  padding-top: 30px;
}

.button {
  margin-bottom: 30px;
}

.list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.item {
  display: flex;
  margin-bottom: 20px;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.field {
  width: 350px;
  margin-right: 20px;
}

.delete {
  margin-top: 28px;
}

.errorText {
  display: block;
  margin-top: 5px;

  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #ED7470;
}