.label {
  display: block;
  margin: 0;
  margin-bottom: 12px;

  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.item {
  margin-right: 15px;

  &:last-of-type {
    margin-right: 0;
  }
}

.box.row {
  display: flex;

  .label {
    margin-bottom: 0;
    margin-right: 15px;

    font-size: 14px;
  }
}