.box {
  padding: 20px;

  p {

  }

  table {
    width: 100%;
  }

  th {
    padding: 5px;

    text-align: left;
    color: #FFFFFF;

    background-color: #5030E5;
  }

  td {
    padding: 5px;
  }
}