body {
  min-width: 320px;
  transition: background-color .2s ease;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.content-box-component {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

a {
  text-decoration: none;
  cursor: pointer;
  transition: all 0.1s ease;

  &:active {
    opacity: .5;
  }
}

button {
  transition: all 0.1s ease;
  outline: none;

  &:active {
    opacity: .5;
  }
}

img {
  max-width: 100%;
  height: auto;
}

:global(.react-datepicker__day--selected) {
  background-color: #5030E5;
}

:global(.react-datepicker__header) {
  background: transparent;
  border-color: #F2F2F2;
}

:global(.react-datepicker__current-month) {
  text-transform: uppercase;
}

:global(.night) {
  background-color: #0D062D;

  :global(.swal2-popup) {
    color: #FFFFFF;
    background: #0D062D;
  }

  :global(.react-datepicker) {
    background: #160E3D;
    border: none;
    box-shadow: 0 4px 8px rgb(80 48 229 / 10%);
  }

  :global(.react-datepicker__day) {
    color: #FFFFFF;

    &:hover {
      background-color: #5030E5;
    }
  }

  :global(.react-datepicker__current-month) {
    color: #FFFFFF;
  }

  :global(.react-datepicker__day-name) {
    color: #FFFFFF;
  }
}
