.box {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}

.row {
  display: flex;
  width: 100%;
}

.column {
  margin-right: 20px;
  width: 50%;

  &:last-of-type {
    margin-right: 0;
  }
}

.fieldset {
  margin-bottom: 20px;
}

.fieldList {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.field {
  margin-bottom: 15px;
  margin-right: 20px;

  &.w250 {
    width: 250px;
    flex-shrink: 0;
  }

  &.w515 {
    width: 515px;
    flex-shrink: 0;
  }

  &.full {
    width: 100%;
  }
}

.actions {
  display: flex;
  align-items: center;
  margin-top: 30px;
  width: 100%;

  &.center {
    justify-content: center;
  }

  &.right {
    justify-content: flex-end;
  }
}

.action {
  margin-right: 10px;

  &:last-of-type {
    margin-right: 0;
  }
}

@media (max-width: 1274px) {
  .row {
    flex-direction: column;
  }

  .column {
    width: 100%;
    margin-right: 0;
  }
}