.box {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 40px;
  padding: 0 20px;
  padding-right: 50px;
}

.list {
  overflow: hidden;

  display: flex;
  padding: 0;
  margin: 0;

  list-style: none;
  background-color: #EDEAFC;
  border-radius: 100px;
}

.field {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.label {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  min-width: 170px;
  padding: 5px 20px;

  font-size: 14px;
  line-height: 15px;
  text-align: center;
  color: #5030E5;

  border-radius: 100px;

  cursor: pointer;
  transition: all .1s ease;
}

.field:checked + .label {
  color: #FFFFFF;

  background-color: #5030E5;
}

:global(.night) {
  .list {
    background-color: #281C61;
  }

  .label {
    color: #BDBDBD;
  }

  .field:checked + .label {
    color: #FFFFFF;
  }
}