.box {
  position: relative;

  padding: 10px 19px;
  height: 40px;
  display: block;

  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #FFFFFF;

  border-radius: 8px;
  border: 1px solid transparent;

  cursor: pointer;

  &:active {
    box-shadow: none;
  }

  &.shadow {
    box-shadow: 0 10px 10px rgba(80, 48, 229, 0.1);
  }

  // SIZES //
  &.small {
    padding: 6px 10px;
  }

  &.big {
    height: 48px;
    padding: 0 45px;

    font-size: 16px;
  }

  // END SIZES //


  // COLORS //
  &.fill {
    background-color: #5030E5;

    &:hover {
      background-color: #3418B7;
    }

    &:disabled {
      opacity: .7;
    }
  }

  &.stroke {
    color: #0D062D;

    background-color: #FFFFFF;
    border-color: #5030E5;

    &:hover {
      color: #FFFFFF;
      background-color: #5030E5;
    }

    &:disabled {
      border-color: #BDBDBD;
      color: #BDBDBD;

      &:hover {
        color: #BDBDBD;
        background-color: #FFFFFF;
      }
    }
  }

  // END COLORS //

  &:disabled {
    cursor: default;
    opacity: .7;
  }
}

.mr10 {
  margin-right: 10px;
}

