.box {
  display: flex;
  height: 100vh;
}

.sidebar {
  position: sticky;
  top: 0;
  height: 100vh;
}

.content {
  overflow-y: scroll;

  width: 100%;
  padding-bottom: 50px;
}

.pageHeader {
  display: flex;
  align-items: center;
  min-height: 60px;
  margin-bottom: 25px;
  padding: 0 20px;
  padding-right: 50px;
}

.pageHeaderFluid {
  display: flex;
  align-items: center;
  min-height: 60px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.title {
  margin: 0;

  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}

.actions {
  margin-left: auto;
}

.main {
  width: 100%;
  margin-bottom: 200px;
}