.box {
  position: relative;

  width: 100%;
}

.table {
  width: 100%;

  border-collapse: collapse;
  margin-bottom: 27px;
}

.headCell {
  padding: 10px 0;

  text-align: left;
  white-space: nowrap;
  font-weight: 500;

  border-bottom: 1px solid #F6F6F6;

  transition: border-color .2s ease;
}

.head {
  .headCell:first-of-type {
    padding-left: 16px;
  }

  .headCell:last-of-type {
    padding-right: 50px;
  }
}

.cell {
  padding-top: 16px;
  padding-bottom: 17px;
  padding-right: 10px;

  text-align: left;
  white-space: nowrap;

  border-bottom: 1px solid #F6F6F6;

  transition: border-color .2s ease;

  &.left {
    text-align: left;
  }

  &.right {
    text-align: right;
  }

  &.notFound {
    border: none;
  }
}

.cellRow {
  display: flex;
  align-items: center;
}

.row {
  .cell:first-of-type {
    padding-left: 16px;
  }

  .cell:last-of-type {
    padding-right: 50px;
  }

  &.failed {
    background-color: #F4CCCC ;
  }
}

.body {
  position: relative;
}

.loader {
  position: absolute;
  z-index: 10;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;

  display: none;
  align-content: center;
  justify-content: center;

  background-color: rgba(256, 256, 256, .7);

  &.active {
    display: flex;
  }
}

.loaderCell {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 19px;
  padding-right: 50px;
}

.showCount {

}

.pagination {

}

:global(.night) {
  .headCell,
  .cell {
    border-color: #251F40;
  }

  .loader {
    background-color: rgba(37, 31, 64, .7);
  }
}