.box {
  width: 100%;
}

.label {
  display: block;
  margin-bottom: 4px;

  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.011em;
}

.fieldContainer {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 7px;
  padding-right: 9px;

  border: 1px solid #BDBDBD;
  box-shadow: inset 1px 2px 2px rgba(0, 0, 0, 0.08);
  border-radius: 8px;

  &.error {
    margin-bottom: 5px;

    border-color: #ED7470
  }
}

.field {
  width: 100%;
  height: 38px;

  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: #0D062D;

  background: transparent;
  border: none;
  outline: none;

  &:focus {
    border-color: #5030E5
  }

  &::placeholder {
    color: #BDBDBD;;
  }

  &::-webkit-calendar-picker-indicator {
    display: none;
  }
}

.field[type='date'] {
  letter-spacing: -.05em;
}

.icon {
  flex-shrink: 0;
  margin-left: 2px;
}

.errorText {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #ED7470;
}
